
html, body, section, article, h1, h2, p {
    margin: inherit;
    border: inherit;
    padding: inherit;
    font-family: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
}

ol, ul {
    list-style: none;
}

body {
    line-height: 1.5;
}

img {
    max-width: 100%
}