<section class="masthead">
    <div class="language-nav">
        <ul>
            <li><a href="#">CSS </a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">Ruby</a></li>
        </ul>
    </div>
    <img class="logo" src="assets/AA_Times_Logo.png" alt="Logo">
    
        <div class="masthead-links">
            <ul>
                <li>Tuesday, October 18, 2016</li>
                <li class="underlined"><a href="#">Today’s Paper</a></li>
                <li class="underlined"><a href="#">Video</a></li>
                <li class="grey-links">77°F</li>
                <li class="grey-links"><a href="#">AAO +100%</a></li>
            </ul><a hsref="#">
        </div>
    </section>