/* PHASE 5: Cats */
.content-header {
    display: flex;
    /* background: red; */
    background-image: url('../images/cats.jpg');
    width: 900px;
    z-index: 1;
    /* flex: 1; */
    height: 205px;
    background-size: cover;
    position: relative;
}

.content-header > h1 {
    flex-direction: column;
    color: white;
    align-items: center;
    position: absolute;
    left: 240px;
    bottom: 25px;
}

.content-header > button {
    color: black;
    background-color: blanchedalmond;
    border-radius: 3px;
    height: 40px;
    width: 120;
    right: 20px;
    bottom: 22px;
    /* display: flex; */
    justify-content: flex-end;
    position: absolute;
}